@font-face {
    font-family: "RobotoThin";
    src: url("../fonts/Roboto-Thin.ttf");
}

/* body {
    
} */

h1 {
    font-family: "RobotoThin";
    font-size: 7vh;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}