body{
    font-family: Roboto, sans-serif;
}

h3{
    font-size: 30px !important;
}

/* properties for title that scales the font-size depending on the screen size */
@media (max-width: 740px){
    h1 {
        font-size: 40px  !important;
    }
}

@media (max-width: 300px){
    h1 {
        font-size: 30px  !important;
    }
}